*{
    padding: 0%;
    margin: 0%;
    font-family: Helvetica, Tahoma, sans-serif;
}
#logo{
    width: 34vw;
    height: 11.46667vw;
    margin-top: 2px;
}
#nav{
    margin: 0.26667vw 0 0 1.86667vw;
}
#login{
    width: 28.8vw;
    height: 8.53333vw;
    padding: 0;
    margin: 0;
    line-height: 8.53333vw;
    border-radius: 1.06667vw;
    margin-top: 2.26667vw;
    margin-left: 18vw;
    font-weight: bold;
    background-image: linear-gradient(-180deg, #F72424 0%, #BB1C00 100%);
}
#login::after{
    width: 30%;
    height: 80%;
    border-radius: 50%;
    background-image: url(user.png);
    background-size: contain;
    position: absolute;
    left: 13%;
    top: 15%;
    background-color: linear-gradient(-180deg, #F72424 0%, #BB1C00 100%);
}
#heading{
    width: 100%;
    position: relative;
    height: 12.26667vw;
    overflow: hidden;
    background-image: linear-gradient(-180deg, #FFCC2E 0%, #FFB80C 71%);
}
#headingmain{
    width: 100%;
    height: 7.5vh;
    background-color: black;
}
h3 {
    background-image: linear-gradient(-180deg, #2E4B5E 0%, #243A48 82%);
    color: #fff;
    font-size: 3.73333vw;
    line-height: 2.2;
    text-align: center;
    letter-spacing: 0.5px;
}
#heading ul li{
    display: inline;
    margin-left: 2%;
    line-height: 7.5vh;
    /* font-weight: bold; */
}
#cricket{
    width: 5%;
    height: 100%;
    margin-top: 2%;
    padding: 1% 2% 5% 2%;
    border-radius: 5px;
    background-color: rgb(68, 70, 71);
    color: rgb(245, 186, 50);
}
#icon{
    width: 14%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 86%;
    background-color: rgb(65, 63, 63);
}
#icon i{
    line-height: 40px;
    margin-left: 21%;
    color: #fff;
}
#pin::after{
    width: 40%;
    height: 50%;
    position: absolute;
    top: 2%;
    left: 43%;
    border-radius: 50%;
    background-image: url(pin.PNG);
    background-size: cover;
    background-position: center;
    margin-bottom: 1vh;
}
#sport::after{
    position: absolute;
    top: -2px;
    left: 29px;
    width: 50%;
    height: 60%;
    border-radius: 50%;
    background-image: url(sport.png);
    background-size: cover;
    background-position: center;
}
.detail{
    width: 100%;
    height: 15%;
    position: relative;
    border-bottom: 1px solid gray;
    padding: 10px 0px;
    padding-left: 30px;
    padding-right: 20px;
}
.detail img{
    width : 10%;
    height: 10%s;
    border-radius: 50%;
    position: absolute;
    top: 28%;
    left: 76%;
    font-size: 3.46667vw;
}
.detail p{
    font-size: 12px;
}
.detail a{
    font-size: 16px;
    font-weight: 4vw;
}
input[type="radio"]{
    width: 5vw;
    height: 5vh;
    position: absolute;
    top: -5vh;
    left: -7%;
}
#last{
    border-bottom: 3px solid black;
}
#foot{
    position: relative;
    width: 100%;
    height: 30vh;
    background-color: rgb(211, 223, 223);
}
#contact{
    width: 100%;
    height: 30%;
    position: absolute;
    top: 50%;
    background-color: #FFB80C;
    display: flex;
}
#contact img{
    width: 20%;
    height: 100%;
}
#text{
    padding: 6px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;;
    align-items: center;
    flex-direction: column;
}
#policy{
    position: absolute;
    top: 85%;
    padding-left: 10%; 
    text-align: center;
}
